body{
    margin: 0;
    overflow: hidden;
}
.message{

    display: none;
}
img{
    height: 49.4vh;
    width: 49.4vh;
}
.container{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}
.container2{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}
#meme1 > img{
    animation: scale 2s 1, glow1 2s;
}
#meme2 > img{
    animation: scale 2s 1, glow2 2s;
    animation-delay: 2s;

}
#meme3 > img{
    animation: scaleLeft 2s 1, glow3 2s;
    animation-delay: 4s;

}
#meme4 > img{
    animation: scaleRight 2s 1, glow4 2s ;
    animation-delay: 6s;

}

@keyframes scale{
    50%{height: 1000px; width: 1000px;}
}
@keyframes scaleLeft{
    50%{height: 1000px; width: 1000px; transform: translateX(50vh); transform: translateY(-50vh);}
}
@keyframes scaleRight{
    50%{height: 1000px; width: 1000px; transform: translateX(-50vh); transform: translateY(-50vh);}
}
@keyframes glow1{
    50%{box-shadow: 0px 0px 200px red;}
}
@keyframes glow2{
    50%{box-shadow: 0px 0px 200px yellow;}
}
@keyframes glow3{
    50%{box-shadow: 0px 0px 200px lime;}
}
@keyframes glow4{
    50%{box-shadow: 0px 0px 200px blue;}
}

 @media screen and (max-width: 600px){
    body{
        height: 100vh;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: black; 
    }
    img{
        height: 100px;
        width: 100px;
    }
    @keyframes scale{
        50%{height: 200px; width: 200px;}
    }
    @keyframes scaleLeft{
        50%{height: 200px; width: 200px; transform: translateX(20vh); transform: translateY(-20vh);}
    }
    @keyframes scaleRight{
        50%{height: 200px; width: 200px; transform: translateX(20vh); transform: translateY(-20vh);}
    }
    @keyframes glow1{
        50%{box-shadow: 0px 0px 200px red;}
    }
    @keyframes glow2{
        50%{box-shadow: 0px 0px 200px yellow;}
    }
    @keyframes glow3{
        50%{box-shadow: 0px 0px 200px lime;}
    }
    @keyframes glow4{
        50%{box-shadow: 0px 0px 200px blue;}
    }
 }